useDynLib(BayesPeak)

import(IRanges)

importFrom(graphics, hist)

export(bayespeak, summarise.peaks, read.bed, plot.overfitdiag, identify.overfitdiag, region.overfitdiag, plot.bed, plot.job, plot.PP)
